html, body {
  height: 100%;
  
}

body {
  margin: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, 'Lato';
  background: transparent;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow-y: scroll;
  background: linear-gradient(140deg, #04CCC5 0%, #FFE334 100%);
}

.info-modal-wrapper {
  position: absolute;
  left: 120%;
  transform: translateY(-10%);
  z-index: 2000;
  width: 15rem;
  max-height: 15rem;
  overflow: auto;
  border-radius: 17px;
}

/* Mobile */
@media (max-width: 640px) {
  .info-modal-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-100%);
    z-index: 2000;
    width: 15rem;
    max-height: 10rem;
    overflow: auto;
    border-radius: 17px;
  }
}
